<form class="form-signin" style="padding: 20px;">
  <img class="mb-4" src="src\assets\images\logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input style="margin: 20px;" type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
    autofocus="">
  <div class="checkbox mb-3">
    <label>
      <p> Already have account ? <a routerLink="../login">Sign In</a></p>
    </label>
  </div>
  <button style="margin: 20px;" class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
</form>