    <mat-card >
      <table class="table">
      <mat-card-header>
        <thead class="thead-dark">
          <tr>         
            <th scope="col">Name</th>
            <th scope="col">recieve</th>
            <th scope="col">Link</th>
            <th scope="col">Note</th>
          </tr>
        </thead> 
      </mat-card-header>
      
      <mat-card-content>
        <tbody>
          <tr *ngFor="let solution of solutions | async">         
            <td>Ahmed</td>
            <td>before end</td>
            <td><a href="{{solution.link}}">Download</a></td>
            <td>{{solution.note}}</td>
          </tr>      
        </tbody>
      </mat-card-content>
    </table>
    <button mat-button mat-dialog-close>close</button>
    </mat-card>