<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <app-new-post></app-new-post>
        </div>
    </div>
    <hr>

    <div class="row" style="text-align: center;" >
        <div class="col-md-12" *ngFor="let post of coursePosts.posts ">
            <app-post-item [post]="post" ></app-post-item>
        </div>
    </div>
</div>

<!-- <div *ngFor="let post of coursePosts.posts ">
    <br>===================================<br>
    {{post|json}} has comments: <br>
    <button (click)="coursePosts.getComments(post.id)">show </button>
    <div *ngIf="post.id == coursePosts.currentPostId">
        <div *ngFor="let comment of coursePosts.currentComment.comments | async">
            {{comment|json}} 
        </div>
    </div>
   
</div> -->