<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>Lecture 1</td>
        <td>2020</td>
        <td><a href="#">Download</a></td>
      </tr>
      <tr>
        
        <td>Lecture 2</td>
        <td>2020</td>
        <td><a href="#">Download</a></td>
      </tr>
      <tr>
        
        <td>Lecture 3</td>
        <td>2020</td>
        <td><a href="#">Download</a></td>
      </tr>
      <tr>
        
        
        <td><button type="button" class="btn btn-primary btn form-control" data-toggle="modal" data-target="#add-material">
          Add-material
        </button></td>
      </tr>
    </tbody>
  </table>
  
  

