table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  tr.mat-header-row {
  font-weight: bold;
}
  
.branch {
  background-color: #FFF8DC;
}

.delete:hover{
  color: #ff473f;
}

.edit:hover{
  color: #0c0c0a;
}

.color{
  color: beige;
}
