<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let material of materials | async">
      <td>{{ material.name }}</td>
      <td>{{getDate(material.date) |date:'yyyy/MM/dd h:mm:ss a'}}</td>
      <td><a [href]="material.link">Download</a></td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-primary btn form-control" data-toggle="modal" data-target="#add-material">
          Add-material
        </button>
      </td>
    </tr>
  </tbody>
</table>