<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Link Column -->
  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef> Download </th>
    <td mat-cell *matCellDef="let element"> 
      <a [href]="element.link"><mat-icon>cloud_download</mat-icon></a>
    </td>
  </ng-container>


  <!-- Operation Column -->
  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef>
      Edit
    </th>
    <td mat-cell *matCellDef="let row">
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" style=" outline: none;">
          <mat-icon>dehaze</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

    <button mat-raised-button (click)="openDialog()">
      Add Item <mat-icon>library_add</mat-icon>
    </button>

<mat-menu #menu="matMenu">
  <button mat-menu-item type="button" class="btn btn-warning edit color">
    <i class="material-icons md-light">edit</i> Edit
  </button>
  <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete">
    <i class="material-icons" style="align-content: center;">
      delete_forever
    </i> Delete 
  </button>
</mat-menu>