<div class="bg-light py-5">
  <div class="container py-5 ">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Faculty Communication</h1>
        <p class="lead text-muted mb-0">
          Communication between the students and their teachers in organized way
          instead of the noise of social media.
        </p>
      </div>
      <div class="col-lg-4 d-none d-lg-block"><img src="assets/images/logo.png" alt="faculty communication logo"></div>
    </div>
  </div>
</div>

<div >
  <div class="bg-white py-5 ">
    <div class="container py-5">
      <!-- Post Feature  -->
      <div class="row align-items-center ">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-comments fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Share Questions and Answers ...</h2>
          <p class="font-italic text-muted mb-4">Students and doctors can ask questions and exchange ideas related to
            the
            course (Posts, comments, and polling).</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
          <img src="assets/images/post.jpg" alt="Share questions and answers" class="img-fluid">
        </div>
      </div>
      <!-- --------------------------------- ------------------------------------------------- -->

      <!-- Material Feature  -->
      <div class="row align-items-center" style="margin: 100px;">
        <div class="col-lg-5 px-5 mx-auto">
          <img src="assets/images/materials.webp" alt="Course's Materials" class="img-fluid mb-4 mb-lg-0">
        </div>
        <div class="col-lg-6"><i class="fa fa-book fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Course's Materials on hand !!!</h2>
          <p class="font-italic text-muted mb-4">Course official can easily raise course Materials, and students can
            download them with one click.</p>
        </div>
      </div>
      <!-- --------------------------------- ------------------------------------------------- -->

      <!-- Assignment Feature  -->
      <div class="row align-items-center " style="margin: 50px;">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-pencil-square-o fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light"> Course's Assignment ...</h2>
          <p class="font-italic text-muted mb-4">
            Students can easily access assignments and download it, then solve them and submit their answers.
            Teachers can also review and evaluate student solutions.</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
          <img src="assets/images/assignments.png" alt="Course's Assignment" class="img-fluid">
        </div>
      </div>
      <!-- --------------------------------- ------------------------------------------------- -->


      <!-- Announcements Feature  -->
      <div class="row align-items-center" style="margin: 100px;">
        <div class="col-lg-5 px-5 mx-auto">
          <img src="assets/images/announcements.jpg" alt="Course's Materials" class="img-fluid mb-4 mb-lg-0">
        </div>
        <div class="col-lg-6"><i class="fa fa-bullhorn fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Announcements</h2>
          <p class="font-italic text-muted mb-4">Easily see the most important events, announcements and all
            competitions
            on the college’s home page.</p>
        </div>
      </div>
      <!-- --------------------------------- ------------------------------------------------- -->

    </div>
  </div>
</div>
<!-- --------------------------------- ------------------------------------------------- -->

<!---------------------------------- Our Team  ---------------------------------->
<div class="bg-light py-5">
  <div class="container py-">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our team</h2>
        <p class="font-italic text-muted">FC App's Team.</p>
      </div>
    </div>

    <div class="row text-center ">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt=""
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Mostafa Aly Elden Mohamed</h5><span class="small text-uppercase text-muted">CEO -
            Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Al-naggar Member -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img src="assets/images/face.jpg" alt="Ahmed Al-naggar"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Ahmed Al-naggar</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/alnaggar98" target="_blank"
                class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/alnaggar98" target="_blank" class="social-link"><i
                  class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/alnaggar98/" target="_blank"
                class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ahmed-al-naggar/" target="_blank"
                class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt=""
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Khaled Abdel-Nasser Saleh</h5><span class="small text-uppercase text-muted">CEO -
            Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>
<!-- --------------------------------- ------------------------------------------------- -->