<div class="card text-center" style="margin-top: 20px;">
    <div class="card-body">
        <div class="row">
            <div class="col md-2">
                <i class="fa fa-user-circle" style="font-size:48px;color:black"></i>&nbsp;<div style="font-size: 20px;">{{post.postOwner}}</div>
            </div>
            <div class="col md-6">
                <h5>{{post.title}}</h5>
            </div>
            <div class="col md-4">
                <p>{{getDate(post.date) |date:'yyyy/MM/dd h:mm:ss a'}}</p>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="menu" style=" outline: none;" (click)="setPost(post)">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <p class="card-text">
            {{ post.body }}
        </p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-2">
               
                <i  type="button"  (click)="addLike( post.id)" class="fa fa-thumbs-up" style="font-size:36px"></i>
                <!-- <ng-template #elseBlock><i type="button" (click)="removeLike( post.id)" class="fa fa-thumbs-o-up" style="font-size:36px"></i></ng-template> -->
                {{ post.like }}
            </div>
            <div class="col-md-8">
                
                    <i type="button" (click)="addDisLike( post.id)" style="margin-top: 20px;" class="fa fa-thumbs-down" style="font-size:36px"></i>

                 {{ post.dislike }}


            </div>
        </div>
        <form [formGroup]="newComment" (ngSubmit)="onSubmit(post.id)">
            <div class="row">
                <div class="col-md-12" style="padding: 20px;">
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <button style="margin-right: 10px;" class="btn btn-outline-secondary" type="submit"
                                [disabled]="!newComment.valid" id="button-addon1">Comment</button>
                        </div>
                        <input style="margin-left: 10px;" type="text" formControlName="text" [class.is-invalid]="newComment.get('text').invalid && 
                        newComment.get('text').touched" class="form-control" placeholder="comment ...">
                    </div>
                </div>
            </div>
        </form>

        <button style="font-size:24px" (click)="getComment(post.id)">show Comments <i class="material-icons">comment</i></button>
        
        <div *ngIf="flagDisplayComment" >
            <div class="row" *ngFor="let comment of comments | async" >
               
                <div class="col-md-12" style="padding: 20px;">
                    <div class="input-group mb-3" class="card text-center" style="margin-top: 20px;">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col md-2">
                                        <i class="fa fa-user-circle" style="font-size:25px;color:black"></i>&nbsp;<div style="font-size: 15px;">{{comment.commentOwner}}</div>
                                    </div>

                                    <div class="col md-4">
                                        <p>{{getDate(comment.date) |date:'yyyy/MM/dd h:mm:ss a'}}</p>
                                    </div>
                                <div *ngIf="comment.commentOwner===currentUser.name">
                                    <button mat-icon-button [matMenuTriggerFor]="menu1" style=" outline: none;"
                                        (click)="setComment(comment)">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>
                                </div>

                                <p class="card-text">
                                    {{ comment.body }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-2">
                                       
                                            <i type="button" (click)="addCommentLike( comment.id ,post.id)" class="fa fa-thumbs-up" style="font-size:20px"></i>
                                       
                                        {{ comment.like }}
                        
                                    </div>
                                    <div class="col-md-8">
                                       
                                            <i type="button" (click)="addCommentDisLike( comment.id,post.id)" style="margin-top: 20px;" class="fa fa-thumbs-down" style="font-size:20px"></i>
                        
                                         {{ comment.dislike }}
                        
                        
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



    <mat-menu #menu="matMenu">
        <div *ngIf="post.postOwner===currentUser.name">
        <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="editPost()">
            <i class="material-icons md-light">edit</i> edit
        </button>

        <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete"
            (click)="deletePost()">
            <i class="material-icons" style="align-content: center;">
                delete_forever
            </i> delete </button>
 
        </div>
        <div  *ngIf="post.postOwner!=currentUser.name">
            <button style=" outline: none; " mat-menu-item type="button"  (click)="report()" >
            <i class="material-icons" class="fa fa-minus-square" style="font-size:24px">
                
            </i> report </button>
        </div>
    </mat-menu>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="editComment(post.id)">
            <i class="material-icons md-light">edit</i> edit
        </button>

        <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete"
            (click)="deleteComments(post.id)">
            <i class="material-icons" style="align-content: center;">
                delete_forever
            </i> delete </button>
    </mat-menu>