<div class="card text-center" style="margin-top: 20px;">
    <div class="card-body">
        <div class="row">
            <div class="col md-2">
                <img src="" alt="photo ">{{post.postOwner}}
            </div>
            <div class="col md-6">
                <h5>{{post.title}}</h5>
            </div>
            <div class="col md-4">
                <p>{{getDate(post.date) |date:'yyyy/MM/dd h:mm:ss a'}}</p>
            </div>

            <button mat-icon-button [matMenuTriggerFor]="menu" style=" outline: none;" (click)="setPost(post)">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

        <p class="card-text">
            {{ post.body }}
        </p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-2">
                <button (click)="addLike('Mostafa Aly', post.id)" style="margin-top: 20px;">
                    <span class="badge badge-pill badge-success">Like</span>
                </button> {{ post.like }}

            </div>
            <div class="col-md-8">
                <button href="#" (click)="addDisLike('Mostafa Aly', post.id)" style="margin-top: 20px;">
                    <span class="badge badge-pill badge-danger">Dislike</span>

                </button> {{ post.dislike }}


            </div>
            <div class="col-md-2">
                <a href="#" style="margin-top: 20px;">
                    <span class="badge badge-pill badge-dark">Report</span>
                </a> 0

            </div>
        </div>
        <form [formGroup]="newComment" (ngSubmit)="onSubmit(post.id)">
            <div class="row">
                <div class="col-md-12" style="padding: 20px;">
                    <div class="input-group mb-3">

                        <div class="input-group-prepend">
                            <button style="margin-right: 10px;" class="btn btn-outline-secondary" type="submit"
                                [disabled]="!newComment.valid" id="button-addon1">Comment</button>
                        </div>
                        <input style="margin-left: 10px;" type="text" formControlName="text" [class.is-invalid]="newComment.get('text').invalid && 
                        newComment.get('text').touched" class="form-control" placeholder="comment ...">
                    </div>
                </div>
            </div>
        </form>


        <button (click)="getComment(post.id)">show Comments</button>
        <div *ngIf="flagDisplayComment">
            <div class="row" *ngFor="let comment of comments | async">
               
                <div class="col-md-12" style="padding: 20px;">
                    <div class="input-group mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col md-2">
                                        <img src="" alt="photo ">{{comment.commentOwner}}
                                    </div>

                                    <div class="col md-4">
                                        <p>{{getDate(comment.date) |date:'yyyy/MM/dd h:mm:ss a'}}</p>
                                    </div>

                                    <button mat-icon-button [matMenuTriggerFor]="menu1" style=" outline: none;"
                                        (click)="setComment(comment)">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <p class="card-text">
                                    {{ comment.body }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



    <mat-menu #menu="matMenu">
        <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="editPost()">
            <i class="material-icons md-light">edit</i> edit
        </button>

        <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete"
            (click)="deletePost()">
            <i class="material-icons" style="align-content: center;">
                delete_forever
            </i> delete </button>
    </mat-menu>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="editComment(post.id)">
            <i class="material-icons md-light">edit</i> edit
        </button>

        <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete"
            (click)="deleteComments(post.id)">
            <i class="material-icons" style="align-content: center;">
                delete_forever
            </i> delete </button>
    </mat-menu>