<form class="form-signin">
  <img class="mb-4" src="src\assets\images\logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input style="margin: 20px;" type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
    autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input style="margin: 20px;" type="password" id="inputPassword" class="form-control" placeholder="Password"
    required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <div class="checkbox mb-3">
    <label>
      <p> You haven't account yet ? <a routerLink="../signup">Sign Up</a></p>
    </label>
  </div>
  <button style="margin: 20px;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>