you have {{coursesNotCreatedYet.length}} courses must be register first:
<div *ngIf="needRegisterCourses()">
{{coursesNotCreatedYet|json}}
<button (click)="registerCourses()"> goto register Courses</button>
</div>
<div class="row">
    <div *ngFor="let course of data.mapCourses | keyvalue">
        <span  contenteditable="true"   (blur)="updateCode(course.key, $event)">{{course.key}}</span> &nbsp;&nbsp;
    </div>
</div>
<!-- <mat-dialog-content> -->
    <div mat-dialog-title style="color: blue;" align="center">
         you will insert {{data.persons.length}} persons 
     </div>
     <div style="color: blueviolet;">review your courses befor add it in database (you can click on word code to edit it or remove all letter to delete)</div>
    <!-- <mat-grid-list cols="4" rowHeight="50px"> -->
        <div *ngFor="let element of data.persons; let i=index">
        <!-- <mat-grid-tile colspan="4"> -->
        <a  (click)="changeCurrentFieldState(element.obj.email)" > 
            <span *ngIf="!canEdit(element.obj.email)">{{element.obj.email}}</span>
                <mat-form-field *ngIf="canEdit(element.obj.email)">
                    <mat-label>Edit Course Code </mat-label>
                    <input matInput  type="email" id="!{{element.obj.email}}!" [(ngModel)]="changeCode" name="{{element.obj.email}}" (blur)="reset(i, 'email')" >
                  </mat-form-field>
        </a>
    <!-- </mat-grid-tile> -->
    <div class="row">
        <div  *ngFor="let element2 of element.obj.courses; let ii=index">
        <!-- <mat-grid-tile rowHeight="50px"> -->
            <a  (click)="changeCurrentFieldState(element2)" style="margin: 20px;"> 
                <span *ngIf="!canEdit(element2)">{{element2}}</span>
                <mat-form-field *ngIf="canEdit(element2)">
                    <mat-label>Edit Course Code </mat-label>
                    <input matInput  type="text" id="!{{changeCode}}!"   [(ngModel)]="changeCode" name="element2" (blur)="reset(i, 'courses', ii)" autofocus>
                  </mat-form-field>
            </a>
        <!-- </mat-grid-tile> -->
        </div>
    </div><br><br>
        </div>
    <!-- </mat-grid-list> -->
<!-- </mat-dialog-content> -->

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="closeDialog()" >Close</button>
    <button mat-button  cdkFocusInitial (click)="onSubmit()">add ({{data.persons.length}})</button>
  </mat-dialog-actions>
  <br>
  <br>
  <mat-spinner *ngIf="showSpinner" align="center" style="margin-left: 200px;"></mat-spinner>

