<div class="container">

     <!-- <div class="row">
        <div class="col-md-12">
            <material-category [categoryName]="recipient.key"></material-category>
        </div>
    </div>  -->

     <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <div *ngFor="let recipient of categories | keyvalue">
                    <material-category [categoryName]="recipient.key"></material-category>
                </div>
                <li class="nav-item nav-link">
                    <a href="" class="nav-link badge badge-success" data-toggle="modal" data-target="#add-tab">
                        <mat-icon>add_circle_outline</mat-icon>
                    </a>
                </li>
            </ul> 

            
            <!-- <form [formGroup]="newCategory" (ngSubmit)="onSubmit()">
                <div class="modal fade" id="add-tab" tabindex="-1" role="dialog" aria-labelledby="addnewtab"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addnewtab">Add New Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" id="name"
                                    placeholder="Enter new Category's name" formControlName="name">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>  -->
             
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editCategory()">
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button mat-menu-item (click)="deleteCategory()">
        <mat-icon>delete_forever</mat-icon> Delete
      </button>
    </mat-menu> 

         
    <mat-menu #menu="matMenu">
      <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="editCategory()">
        <i class="material-icons md-light">edit
    
        </i> Edit
      </button>
      <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete" (click)="deleteCategory()">
        <i class="material-icons" style="align-content: center;">
          delete_forever
        </i> Delete
      </button>
    </mat-menu> 

        <!-- </div>
    </div>

    <!------------------------[materials]="recipient.value.material"--------------------*ngFor="let recipient of categories | keyvalue"------------------------------------------------------>
    <!-- <div class="row" >
        <div class="col-md-12">
            <material-items ></material-items>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <add-material></add-material>
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div> --> 




<router-outlet></router-outlet>
