<div class="row" *ngIf="!currentUser.roles.other">
  <div class="col-md-12">

    <ul class="nav nav-tabs">

      <div *ngFor="let category of categories | keyvalue">
        
        <a routerLink="{{category.key}}" class="nav-link" routerLinkActive="active" >
          {{ category.key }}
          
          <span class="badge badge-primary badge-pill">{{getNotification(category.key) }}</span>  
           
          <mat-icon *ngIf="currentUser.roles.instructor" placement="bottom" ngbTooltip="Click to edit" (click)="updateCategory(category.key);">edit</mat-icon>
          <mat-icon *ngIf="currentUser.roles.instructor" placement="bottom" ngbTooltip="Click to delete" (click)="deleteCategory(category.value.id);">close</mat-icon>
        
        </a>
        
      </div>

      <li class="nav-item nav-link" *ngIf="currentUser.roles.instructor">

        <button mat-raised-button (click)="addCategory() " placement="bottom" ngbTooltip="Click to add new.">
          <mat-icon>add_circle_outline</mat-icon>
        </button>

      </li> 

    </ul>

  </div>
</div>