<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"  >
        <a class="nav-link" routerLinkActive="active activeee"  id="home-tab" data-toggle="tab" routerLink="post" role="tab" aria-controls="post"
            aria-selected="true" style="border-color: #cce0ff; text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Posts</a>
            <span class="badge badge-primary badge-pill" style="background-color :#1f1f7a;">{{getPostNotification() }}</span>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active activeee" id="profile-tab" data-toggle="tab" routerLink="material" role="tab" aria-controls="profile"
            aria-selected="false" style="border-color: #cce0ff; text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Material</a>
            <span class="badge badge-primary badge-pill" style="background-color :#1f1f7a;">{{getCatrgoriesNotification() }}</span>
    </li>
    <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active activeee" id="contact-tab" data-toggle="tab" routerLink="assingment" role="tab" aria-controls="contact"
            aria-selected="false" style="border-color: #cce0ff;
            text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Assingment</a>
            <span class="badge badge-primary badge-pill " style="background-color :#1f1f7a;">{{getAssignmentNotification() }}</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active activeee" id="polling-tab" data-toggle="tab" routerLink="polling" role="tab" aria-controls="contact"
            aria-selected="false" style="border-color: #cce0ff;
            text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Polling</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent" style="margin: 10px;">
    <router-outlet></router-outlet>
    <!-- {{course_id}} -->
</div>