
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"  >
        <a class="nav-link" routerLinkActive="active activeee"  id="home-tab" data-toggle="tab" routerLink="post" role="tab" aria-controls="post"
            aria-selected="true" style="border-color: #FFBD4A; color: #444444; text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Posts</a>
            <span class="badge badge-primary badge-pill" style="background-color :#444444;">{{getPostNotification() }}</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active activeee" id="profile-tab" data-toggle="tab" routerLink="material" role="tab" aria-controls="profile"
            aria-selected="false" style="border-color: #FFBD4A;color: #444444; text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Material</a>
            <span class="badge badge-primary badge-pill" style="background-color :#444444;">{{getCatrgoriesNotification() }}</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active activeee" id="contact-tab" data-toggle="tab" routerLink="assingment" role="tab" aria-controls="contact"
            aria-selected="false" style="border-color: #FFBD4A;color: #444444;
            text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Assingment</a>
            <span class="badge badge-primary badge-pill " style="background-color :#444444;">{{getAssignmentNotification() }}</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active activeee" id="polling-tab" data-toggle="tab" routerLink="polling" role="tab" aria-controls="contact"
            aria-selected="false" style="border-color: #FFBD4A;color: #444444;
            text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;">Polling</a>
            <span class="badge badge-primary badge-pill " style="background-color :#444444;">{{getBollingsNotification() }}</span>
    </li>
</ul>

<div class="tab-content" id="myTabContent" style="margin: 10px;">
    <div *ngIf="displayCourseName" style="margin-top: 20px;margin-left: 20px;">
        
        <mat-card  class="example-card" style=" border-radius: 10px 30px 10px; margin-top: 40px;">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <mat-icon style='font-size:36px;color:#444444;'>collections_bookmark</mat-icon>
              </div>
              
              <mat-card-title>{{course_id}}  &nbsp;&nbsp;&nbsp;  <mat-icon type="button" *ngIf="CurrentUser.roles.instructor" placement="bottom" ngbTooltip="Add Or Edit description" (click)="editDescription();">edit</mat-icon></mat-card-title>
              
            </mat-card-header>
                
            <mat-card-content>
              <p style="white-space:pre-wrap; font-size: 20px;">
                {{(mycourse|async)?.description}}
              </p>

              <hr>
                <mat-card-header style="margin-top: 30px;">
                  <div mat-card-avatar class="example-header-image">
                    <mat-icon style='font-size:36px;color:#444444;'>contacts</mat-icon>
                  </div>
                  
                  <mat-card-title>Contacts  &nbsp;&nbsp;&nbsp;  <mat-icon type="button" *ngIf="CurrentUser.roles.instructor" placement="bottom" ngbTooltip="Add Or Edit contacts" (click)="editContacts();">edit</mat-icon></mat-card-title>
                  
                </mat-card-header>
                    
                <mat-card-content>
                  <p style="white-space:pre-wrap; font-size: 20px;">
                    {{(mycourse|async)?.contacts}}
                  </p>
                </mat-card-content>
                


            </mat-card-content>
            
          </mat-card>
          
    </div>
    <router-outlet></router-outlet>
    <!-- {{course_id}} -->
</div>