<form [formGroup] = "updateOption" (ngSubmit)="onSubmit()">
  
    <div mat-dialog-title align="center"><b>Update Option</b></div>
  
  <mat-dialog-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="option" formControlName="option" [class.is-invalid]="updateOption.get('option').invalid && updateOption.get('option').touched">
        </mat-form-field>
      <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end" >
    <button  mat-button mat-dialog-close>Close</button>
     <button type="submit" [disabled]="!updateOption.valid"  mat-button mat-dialog-close>Update</button>
     
  </mat-dialog-actions> 
  </form> 
