.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .forCoursesLinks:hover{
    background-color:#f8c875;
    color: #3A3A3A;
  }

  .activeee{
    background-color: #FFA949;
    color: #3A3A3A;
}
 