<div  style=" margin-top: 30px; margin-left: 20px; margin-right: 100px;">
    
    <!-- {{testMap|json}}<br>
    <ul>
         <li *ngFor="let university of courses?.univeristy | keyvalue"> <!--university key and name -->
            <!-- {{university.key}} ==> {{university.value.name }}
            <ul>
                <li *ngFor="let college of university.value.colleages | keyvalue">
                    {{college.key}} ==> {{college .value.name }} <!--college key and name -->
                    <!-- <ul>
                        <li *ngFor="let course of college .value.courses | keyvalue"><!--course codeKey and notification -->
                           <!-- <a routerLink="{{university.key}}/{{college.key}}/{{course.key}}/post" >{{course.key}}</a>
                           <span class="badge badge-primary badge-pill">{{getNotification(university.key, college.key, course.key) }}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul><br>  -->

    


    <div class="row">
       
        <!-- <div class="col-md-4">
            <div *ngFor="let university of courses?.univeristy | keyvalue">
                {{university.value.name }}
            <div class="list-group" >
                <div *ngFor="let college of university.value.colleages | keyvalue">
                    {{college .value.name }}
                    <div class="list-group" > 
                        <div *ngFor="let course of college .value.courses | keyvalue">
                            <a routerLink="{{university.key}}/{{college.key}}/{{course.key}}/post" type="button" class="list-group-item list-group-item-action" >
                    <li class="list-group-item d-flex justify-content-between align-items-center">                      
                        {{course.key}}
                        <span class="badge badge-primary badge-pill">{{getNotification(university.key, college.key, course.key) }}</span>                   
                    </li>
                </a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div> -->
    <div class="col-md-3" >

    <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for expandable nodes -->
        <ul class="list-group">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
            <!-- <li class="mat-tree-node"> -->
              <!-- use a disabled button to provide padding for tree leaf -->
              <button mat-icon-button disabled></button>
              
 
              <a routerLink="{{node.link}}" style="text-decoration: none;"><li  routerLinkActive="active activeee" class="list-group-item forCoursesLinks" style="border-color: #cce0ff; text-align: center; padding-right: 50px; padding-left: 50px; border-radius: 10px 30px 10px;"><font size="4">{{node.name}}</font></li></a>
              
                
              
            <!-- </li> -->
          </mat-tree-node></ul>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" style="border: none; outline: none;">
          <li>
            <div class="mat-tree-node" style="border: none; outline: none;">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.name" style="border: none; outline: none;">
                <mat-icon class="mat-icon-rtl-mirror" style="border: none; outline: none;">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                <font size="4"><b>{{node.name}}</b></font>
              </button>
              
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    
</div>
</div>
