<div class="container" style="margin-top: 50px;">
    {{testMap|json}}<br>
    <ul>
         <li *ngFor="let university of courses?.univeristy | keyvalue"> <!--university key and name -->
            {{university.key}} --> {{university.value.name }}
            <ul>
                <li *ngFor="let college of university.value.colleages | keyvalue">
                    {{college.key}} --> {{college .value.name }} <!--college key and name -->
                    <ul>
                        <li *ngFor="let course of college .value.courses | keyvalue"><!--course codeKey and notification -->
                           <a routerLink="{{university.key}}/{{college.key}}/{{course.key}}/post" >{{course.key}}</a>
                           <span class="badge badge-primary badge-pill">{{getNotification(university.key, college.key, course.key) }}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul><br>
    <div class="row">
       
        <div class="col-md-4">
            <div *ngFor="let university of courses?.univeristy | keyvalue">
                {{university.value.name }}
            <div class="list-group" >
                <div *ngFor="let college of university.value.colleages | keyvalue">
                    {{college .value.name }}
                    <div class="list-group" > 
                        <div *ngFor="let course of college .value.courses | keyvalue">
                            <a routerLink="{{university.key}}/{{college.key}}/{{course.key}}/post" type="button" class="list-group-item list-group-item-action" >
                    <li class="list-group-item d-flex justify-content-between align-items-center">                      
                        {{course.key}}
                        <span class="badge badge-primary badge-pill">{{getNotification(university.key, college.key, course.key) }}</span>                   
                    </li>
                </a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    
</div>
</div>
