<!--nav class="navbar  navbar-expand-md navbar-dark fixed-top bg-dark ">
    <a class="navbar-brand " routerLink="/welcome">FC</a>

    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav justify-content-end">
        <li class="nav-item my-2 my-sm-0">
            <a class="nav-link" routerLink="/auth/signup" routerLinkActive="active">Logout</a>
        </li>
    </ul>
</nav-->
<app-nav></app-nav>
    <!--div class="container"-->
        <router-outlet></router-outlet>
    <!--/div> <!-- /container -->
  <div style="margin: 20% 0% 0% 0%; bottom: 0;">
    <app-footer></app-footer>
 </div>  
<!--footer class="container">
    <p style="text-align: center;">&copy; FC 2020-2019</p>
</footer-->