<div class="p-3 mb-2  text-white" style="font-size: 20dp; font-weight: bold;background: #FF6347;">
  Voted Persons
</div>

<div *ngIf="isEmpty; else elseBlock" align="center " style="margin-top: 15%;">
  <p style="font-size: large;">
    No votes yet for this option.
  </p>
  <i class="fa fa-exclamation-triangle" style="font-size:50px;color:#444444"></i>
</div>

<ng-template #elseBlock>
  <mat-list>
    <mat-list-item *ngFor="let person of persons">
      <mat-icon matListIcon style="color: #FF6347;">person_pin</mat-icon>
      <h3 matLine> {{person}} </h3>
    </mat-list-item>
  </mat-list>
</ng-template>