<div style="background: rgba(255, 17, 0, 0.459); border: rgb(7, 0, 53); outline-style: solid;">
<div class="card text-center" style="margin-top: 20px;">
    <div class="card-body">
        <div class="row">
            <div class="col md-2">
                <i class="fa fa-user-circle" style="font-size:48px;color:black"></i>&nbsp;
                <span style="font-size: 20px;"> {{poll.pollingOwner}} </span>
            </div>

            <div class="col md-8">
                <p>{{getDate(poll.date) |date:'yyyy/MM/dd h:mm:ss a'}}</p>
            </div>

            <div class="col md-2">
                <button mat-icon-button [matMenuTriggerFor]="menu" style=" outline: none;" (click)="setPoll(poll)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col md-6">
                <h5 style="color: red;">{{poll.text}}</h5>
            </div>
        </div>

    </div>

    <!-- <p class="card-text">
            {{ post.body }}
        </p> -->
</div>
<div class="card-footer">
    <div class="row" *ngFor="let option of options | async">
        <div class="col-md-12" style="padding: 20px;">
            <div class="input-group mb-3" class="card text-center" style="margin-top: 20px;">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-2 ">
                                <mat-radio-button value="option" (click)="voteUp(option.id)">{{ option.text }}</mat-radio-button>
                            </div>

                            <div class="col md-6">
                                {{option.votes}}
                            </div>

                            <button mat-icon-button [matMenuTriggerFor]="menu1" style=" outline: none;"
                                (click)="setOption(option)">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <!-- <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
                                    <mat-radio-button class="example-radio-button" *ngFor="let option of options | async" [value]="option">
                                        {{ option.text }}
                                        <span style="text-align: right; color: darkred;"> {{option.votes}} </span>
                                        <button mat-icon-button [matMenuTriggerFor]="menu1" style=" outline: none;" (click)="setOption(option)">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </mat-radio-button>
                                </mat-radio-group> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<hr>
<mat-menu #menu="matMenu">
    <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="updatePoll()">
        <i class="material-icons md-light">edit</i> edit
    </button>

    <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete" (click)="deletePoll()">
        <i class="material-icons" style="align-content: center;">
            delete_forever
        </i> delete </button>
</mat-menu>


<mat-menu #menu1="matMenu">
    <button mat-menu-item type="button" class="btn btn-warning edit color" (click)="updateOption(poll.id)">
        <i class="material-icons md-light">edit</i> edit
    </button>

    <button style=" outline: none; " mat-menu-item type="button" class="btn btn-danger delete"
        (click)="deleteOption(poll.id)">
        <i class="material-icons" style="align-content: center;">
            delete_forever
        </i> delete </button>
</mat-menu>