

  .branch {
    background-color: #FFF8DC;
  }

  .delete:hover{
    color: #ff473f;
  }

  .edit:hover{
    color: #ffcc00;
  }

  .color{
    color: beige;
  }

  
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }



