<mat-dialog-content>
    <div mat-dialog-title style="color: blue;" align="center">
         you will insert {{data.courses.length}} courses
     </div>
     <div style="color: blueviolet;">review your courses befor add it in database (you can click on word code to edit it or remove all letter to delete)</div>
    <mat-grid-list cols="2" rowHeight="45px">
        <mat-grid-tile *ngFor="let element of data.courses; let i=index" >
        <a  (click)="changeCurrentCodeState(element)" > 
            <span *ngIf="!canEdit(element)">{{element}}</span>
            <p>
                <mat-form-field *ngIf="canEdit(element)">
                    <mat-label>Edit Course Code </mat-label>
                    <input matInput  type="text" id="!{{element}}!" [(ngModel)]="changeCode" name="{{element}}" (blur)="reset(i)" >
                  </mat-form-field>
                </p>
        </a>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmit()">add ({{data.courses.length}})</button>
  </mat-dialog-actions>
