<h1 mat-dialog-title>Edit Category item </h1>
<div mat-dialog-content>
  <p>What's your new category name?</p>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="openSnackBar('Updating Canceled', '❌'); onNoClick();">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="openSnackBar(data.id, ' 📝 Updated Successfully')">Update</button>  <!-- data is a json object that contain the form data -->
</div>