<div *ngIf="!isFocus">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container-fluid jumbotron">

            <!-- <h1 class="display-4">
                <img src="assets/images/logo.png" alt="faculty communication logo"> &nbsp;&nbsp;
                <b style="font-style: oblique">Faculty Communication!</b></h1> -->
            <!-- <p style="font-style: oblique">This is a template for a simple marketing or informational website. It includes a large callout called a
                        jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                        unique.</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->

            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper">
                        <img [src]="image.url" [alt]="image.caption" class="mh-100"
                            style="width: 100%; height: 50vh">
                    </div>
                    <div class="carousel-caption">
                         <h3>{{image.caption}}</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
    </div>


    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4" *ngFor="let announcement of announcements">
                <div class="card" style="width: 18rem;">
                    <img [src]="announcement.imgUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{announcement.title}}</h5>
                        <p class="card-text">{{announcement.body}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>