<form [formGroup] = "newPost" (ngSubmit)="onSubmit()">
<div class="card w-60" style=" border-color: #FFBD4A;  border-radius: 20px 60px 20px 60px;">
    <h5 class="card-header" style=" border-color: #FFBD4A;  border-radius: 20px 60px 20px 60px;">What's in your mind? 
        <mat-form-field >
            <input matInput
            formControlName="title" placeholder="title" type="text">
          </mat-form-field>
    </h5>
    <div class="form-group container row">        
    <div class="card-body">  

        <mat-form-field class="example-full-width"> 
            
            <textarea matInput placeholder="Type your post content here ..." aria-label="With textarea" 
            [class.is-invalid]="newPost.get('body').invalid && 
            newPost.get('body').touched" matTextareaAutosize formControlName="body"></textarea>
          </mat-form-field>

        <small 
        [class.d-none]="newPost.get('body').valid ||  
                newPost.get('body').untouched"
         class="text-danger">invalid input</small><br>
        <button type="submit" class="btn " [disabled]="!newPost.valid" style=" border-color: #FFBD4A; background-color:#FFA949 ; color: #444444;  border-radius: 10px 30px 10px 30px; padding: 20px;">Share
            
        </button>
       
    </div>
</div>
</div>
</form>