<div class="container">
<form [formGroup]="registrationForm" >
<div class="form-group">
    <mat-form-field class="example-full-width">
        <mat-label>Course Code &nbsp;#1</mat-label>
        <input matInput formControlName="courseCode" autofocus>
      </mat-form-field><small *ngIf="showId(-1)" style="color: red;" >this code is already exist or you write it up.</small>
      <div formArrayName="newCourseCode" *ngFor="let elementCourseCode of newCourseCode.controls; let i=index">
        <mat-form-field class="example-full-width">
            <mat-label>Course Code &nbsp;#{{i+2}}</mat-label>
            <input id="{{i}}" class="toAdd" matInput [formControlName]="i" >
          </mat-form-field><small *ngIf="showId(i)" style="color: red;" >this code is already exist or you write it up.</small>
      </div>
  </div>
  
</form>
<button  (click)="onSubmit()" [disabled]="!registrationForm.valid">add Courses</button>
</div>