
<div *ngFor="let createPerson of createPersonComponents; let i = index; trackBy:trackByCreatePerson">
    <div *ngIf="!removed.has(i)">
<app-create-person-form [idIndex]=i [disable]=createPerson (isformDataDone)="isformDataDone($event, i)"
    (destroyItSelf)="remove($event, i)"  ></app-create-person-form>
</div>
</div>
<div style="margin-top: 30px;margin-left: 30px;box-shadow: darkslategray;" >
    <h3>You can upload Exel sheet to add persons from here ! </h3>
    <h4>Note : type email , courses and role in row </h4>
    <!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx"> -->
    <input type="file" (change)="onFileChange($event)">
    <button type="button" class="btn btn-info" (click)="onAdd()" >Add </button>
</div>