<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Link</th>
        <th scope="col"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-assignment">
          Add-assign
        </button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>Assignment 1</td>
        <td>2020</td>
        <td><a href="#">Download</a></td>
        <td><button type="button" class="btn btn-success my-2" data-toggle="modal" data-target="#solve">
            Solve
          </button>&nbsp;
          <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#review">
            Review
          </button>
          </td>
      </tr>
      <tr>
        
        <td>Assignment 2</td>
        <td>2020</td>
        <td><a href="#">Download</a></td>
        <td><button type="button" class="btn btn-success my-2" data-toggle="modal" data-target="#solve">
            Solve
          </button>&nbsp;
          <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#review">
            Review
          </button>
          </td>
      </tr>
      <tr>
        
        <td>Assignment 3</td>
        <td>2020</td>
        <td><a href="#">Download</a></td>
        <td><button type="button" class="btn btn-success my-1" data-toggle="modal" data-target="#solve">
            Solve
          </button>&nbsp;
          <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#review">
            Review
          </button>
          </td>
      </tr>
     
    </tbody>
  </table>
 