

  .branch {
    background-color: #FFF8DC;
  }

  .delete:hover{
    color: #FFA949;
  }

  .edit:hover{
    color: #0c0c0a;
  }

  .color{
    color: beige;
  }

  /* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
