<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Start_Date</th>
        <th scope="col">End_Date</th>
        <th scope="col">Link</th>
        <th scope="col">Note</th>
        <th scope="col"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-assignment">
          Add-assign
        </button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assignment of assignments | async"> 
        <td>{{assignment.title}}</td>
        <td>{{getDate(assignment.startDate) |date:'yyyy/MM/dd h:mm:ss a'}}</td>
        <td>{{getDate(assignment.endDate) |date:'yyyy/MM/dd h:mm:ss a' }}</td>
        <td><a href={{assignment.link}}>Download</a></td>
        <td>{{assignment.note}}</td>
        <td><button type="button" class="btn btn-success my-2" data-toggle="modal" data-target="#solve">
            Solve
          </button>&nbsp;
          <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#review">
            Review
          </button>
          </td>
      </tr>  
    </tbody>
  </table>
 