
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">



    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" routerLink="edit-courses" routerLinkActive="active">EditCourses </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="edit-persons" routerLinkActive="active">EditPerson </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="review-reports" routerLinkActive="active">ReviewReports </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" routerLink="add-super-admin" routerLinkActive="active">AddSuperAdmin </a>

            </li>
        </ul>

    </div>
    
</nav>
<br>
<router-outlet></router-outlet>