
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="my-0 mr-md-auto font-weight-normal" routerLink="/"><font size="5">FC</font></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item ">
                <a class="nav-link" routerLink="{{link}}/courses-body" routerLinkActive="active">Manage Courses </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="{{link}}/edit-persons" routerLinkActive="active">Manage Persons </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="{{link}}/review-reports" routerLinkActive="active">ReviewReports </a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link" routerLink="{{link}}/add-super-admin" routerLinkActive="active">AddSuperAdmin </a>

            </li> -->
        </ul>
        <a class=" p-2 text-weight" (click)="logout()" routerLink="/" >Logout</a>
    </div>
    
</nav>

<router-outlet></router-outlet>