<form [formGroup] = "newAnnouncement" (ngSubmit)="onSubmit()">
        <font size="3" mat-dialog-title>Add new {{data.announcement.scope}} Announcement</font>
            <mat-form-field >
                <input matInput
                formControlName="title" placeholder="title" type="text" required>
              </mat-form-field><br>
              <mat-form-field >
                <input matInput
                formControlName="body" placeholder="body" type="text" required>
              </mat-form-field><br>
              <mat-form-field >
                <input matInput
                formControlName="note" placeholder="note" type="text">
              </mat-form-field><br>
              <mat-form-field>
                <mat-label>Choose a start date</mat-label>
                <input formControlName="start_date" matInput [matDatepicker]="pickerForStart"required >
                <mat-datepicker-toggle matSuffix [for]="pickerForStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerForStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Choose a end date</mat-label>
                <input formControlName="end_date" matInput [matDatepicker]="pickerForEnd"required>
                <mat-datepicker-toggle matSuffix [for]="pickerForEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerForEnd></mat-datepicker>
              </mat-form-field><br>

              <!--mat-form-field class="example-full-width">
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.id}}<sub><small> #({{option.number}})</small></sub>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field-->

              <mat-form-field>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let selectedOption of selectedOptions"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(selectedOption)">
                    {{selectedOption}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="New fruit..."
                    #tagInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
                    {{option.id}}<sub><small> #({{option.number}})</small></sub>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-checkbox formControlName="accepted"required  >Accepted </mat-checkbox><br>
              
              <button mat-button mat-dialog-close>close</button> 
              <button mat-flat-button type="submit" [disabled]="!newAnnouncement.valid" color="primary" mat-dialog-close>Save</button>
    </form>